openapi: 3.0.1
info:
  title: Hyperline Billable Events Products API
  description: The Hyperline API follows REST principles and uses JSON-encoded request and response payloads. It powers usage-based billing and subscription management for B2B SaaS - covering customers, products and plans, subscriptions, billable event ingestion, invoices, payments, credit notes, and webhooks. The full machine-readable specification is published by Hyperline at https://api.hyperline.co/openapi.
  termsOfService: https://www.hyperline.co/legal/terms
  contact:
    name: Hyperline Support
    url: https://docs.hyperline.co
  version: '1.0'
servers:
- url: https://api.hyperline.co/v1
  description: Production
- url: https://sandbox.api.hyperline.co/v1
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Products
paths:
  /products:
    get:
      operationId: listProducts
      tags:
      - Products
      summary: List products
      responses:
        '200':
          description: A list of products.
    post:
      operationId: createProduct
      tags:
      - Products
      summary: Create a product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '201':
          description: The created product.
  /products/{id}:
    get:
      operationId: getProduct
      tags:
      - Products
      summary: Retrieve a product
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: The requested product.
    patch:
      operationId: updateProduct
      tags:
      - Products
      summary: Update a product
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: The updated product.
  /price-books:
    get:
      operationId: listPriceBooks
      tags:
      - Products
      summary: List price books
      responses:
        '200':
          description: A list of price books.
    post:
      operationId: createPriceBook
      tags:
      - Products
      summary: Create a price book
      responses:
        '201':
          description: The created price book.
components:
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        currency:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Authenticate with your Hyperline API key passed as a bearer token in the Authorization header - `Authorization: Bearer <API_KEY>`.'
